.App {
  /* text-align: center; */
}

.App-logo {
  height: 5vh;
  border-radius: 50%;
  pointer-events: none;
}

.App-header {
  padding-top: 1em;;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
